[submodule "pcm"]
	path = pcm
	url = https://github.com/intel/pcm.git
[submodule "ParallelTools"]
	path = ParallelTools
	url = git@github.com:wheatman/ParallelTools.git
[submodule "parlaylib"]
	path = parlaylib
	url = https://github.com/cmuparlay/parlaylib.git
